* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 450px;
    background-color: #003333;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    font-family: sans-serif;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.converter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding-bottom: 20px;
}
.container h1 {
    color: white;
}
.temperature-icon {
    color: #fff;
    font-size: 40px;
    margin-left: 15px;
}
#celcius, #fahrenheit, #kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
input {
    flex: 5;
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 0 20px;
        max-width: 400px;
    }
}
/* for chrome, opera and edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* for mozila firefox */
input {
    -moz-appearance: textfield;
}
.icon {
    flex: 1;
    color: white;
    font-size: 18px;
    border-radius: 0 8px 8px 0;
    padding: 10px 0;
    background-color: #4d5964;
}
.button {
    padding: 10px 15px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.button:hover {
    background-color: #000;
    color: white;
}